<!DOCTYPE html>
<html>
<head>
	<title>Aktualne ceny kryptowalut</title>
</head>
<body>
	<h1>Aktualne ceny kryptowalut:</h1>
	<ul>
		<li>Bitcoin (BTC): {{ btc_price }} USD</li>
        <img src="{{ btc_plot }}" alt="Wykres ceny Bitcoin z ostatnich 24h"><BR>
		<li>Ethereum (ETH): {{ eth_price }} USD</li>
        <img src="{{ eth_plot }}" alt="Wykres ceny Ethereum z ostatnich 24h"><BR>
		<li>XRP (XRP): {{ xrp_price }} USD</li>
        <img src="{{ xrp_plot }}" alt="Wykres ceny XRP z ostatnich 24h"><BR>
        <li>Algorand (ALGO): {{ algo_price }} USD</li>
        <img src="{{ algo_plot }}" alt="Wykres ceny Algorand z ostatnich 24h"><BR>
        <li>BNB (BNB): {{ bnb_price }} USD</li>
        <img src="{{ bnb_plot }}" alt="Wykres ceny BNB z ostatnich 24h"><BR>
	</ul>
	<div>
        
	</div>
</body>
</html>
